.card {
  float: left;
  border: solid 1px black;
  width: 200px;
  border-radius: 5px;
  height: 280px;
  margin-right: 20px;
}

.covered {
  content: url('../img/card-back.png');
}

.revealed {
  background-color: black;
}

.hand {
  overflow: auto;
}

html {
  background: url('http://images7.alphacoders.com/449/449378.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  font-size: 30px;
  color: red;
}

.winner {
  margin-top: 30px;
  font-size: 30px;
  color: red;
}

button {
    margin-top: 20px;
    width: 70px;
    height: 30px;
    color: red;
    font-size: 20px;
}


